In [55]:
import pandas as pd 
import numpy as np

In [56]:
data=pd.read_csv("smaller_adult.csv")
data.head()

,age,workclass,educational-num,occupation,gender,hours-per-week,income
0,25,Private,7,Machine-op-inspct,Male,40,<=50K
1,38,Private,9,Farming-fishing,Male,50,<=50K
2,28,Local-gov,12,Protective-serv,Male,40,>50K
3,44,Private,10,Machine-op-inspct,Male,40,>50K
4,18,?,10,?,Female,30,<=50K

In [57]:
data.isin(['?']).sum()

age                  0
workclass          214
educational-num      0
occupation         214
gender               0
hours-per-week       0
income               0
dtype: int64

In [58]:
data['workclass']=data['workclass'].replace('?',np.nan)
data['occupation']=data['occupation'].replace('?',np.nan)

In [59]:
data.head()

,age,workclass,educational-num,occupation,gender,hours-per-week,income
0,25,Private,7,Machine-op-inspct,Male,40,<=50K
1,38,Private,9,Farming-fishing,Male,50,<=50K
2,28,Local-gov,12,Protective-serv,Male,40,>50K
3,44,Private,10,Machine-op-inspct,Male,40,>50K
4,18,NaN,10,NaN,Female,30,<=50K

In [60]:
data.isnull().sum()

age                  0
workclass          214
educational-num      0
occupation         214
gender               0
hours-per-week       0
income               0
dtype: int64

In [61]:
data['workclass']=data['workclass'].fillna(data['workclass'].mode()[0])
data['occupation']=data['workclass'].fillna(data['occupation'].mode()[0])

In [62]:
data.isnull().sum()

age                0
workclass          0
educational-num    0
occupation         0
gender             0
hours-per-week     0
income             0
dtype: int64

In [63]:
data.head()

   age  workclass  educational-num occupation  gender  hours-per-week income
0   25    Private                7    Private    Male              40  <=50K
1   38    Private                9    Private    Male              50  <=50K
2   28  Local-gov               12  Local-gov    Male              40   >50K
3   44    Private               10    Private    Male              40   >50K
4   18    Private               10    Private  Female              30  <=50K

In [64]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [65]:
data['workclass']=le.fit_transform(data['workclass'])
data['occupation']=le.fit_transform(data['occupation'])
data['income']=le.fit_transform(data['income'])
data['gender']=le.fit_transform(data['gender'])

In [66]:
data.head()

   age  workclass  educational-num  occupation  gender  hours-per-week  income
0   25          2                7           2       1              40       0
1   38          2                9           2       1              50       0
2   28          1               12           1       1              40       1
3   44          2               10           2       1              40       1
4   18          2               10           2       0              30       0

In [67]:
x=data.drop(columns='income',axis=1)
y=data.income

In [68]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [71]:
from sklearn.svm import SVC
svm=SVC(kernel='linear',gamma='auto')
svm.fit(x_train,y_train)

SVC(gamma='auto', kernel='linear')

In [78]:
y_pred=svm.predict(x_test)
x_pred=svm.predict(x_train)

In [79]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.82      0.97      0.89       553\n           1       0.74      0.25      0.37       162\n\n    accuracy                           0.81       715\n   macro avg       0.78      0.61      0.63       715\nweighted avg       0.80      0.81      0.77       715\n'

In [76]:
accuracy_score(y_test,y_pred)*100

80.97902097902097

In [77]:
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[539  14]
 [122  40]]